# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
.next/
out/
dist/
build/

# Environment files
.env
.env*.local

# Vercel
.vercel

# MacOS
.DS_Store

# Large files
Archive.zip

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
